*{
    padding: 0;
    margin: 0;
}
.checklist-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#todo-items{
    list-style-type: none;
    text-align: center;
    width: 600px;
    height: 50px;
}
input[type='checkbox']{
    visibility: hidden;
}
.check{
    margin: auto 0 auto 20px;
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 30px;
}
.list-item{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}
.list-item{
    line-height: 50px;
}
.pending{ background-color: rgba(151, 114, 89, 0.761);
}
.striked{
    text-decoration: line-through;
}
.done{
    background-color: rgba(78, 170, 138, 0.816);
    color: white
}
.close{
    width: 50px;
}
.close:hover{
    background-color: rgb(89, 52, 33);
    color: white;
}
.check-done{
    background-color: green;
}